* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #fff !important;
  background: #000 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

/*Footer*/
.layout-item {
  padding: 20px 0;
  text-align: start;
  color: darkgray;
  font-weight: 400;
}

.layout-item li {
  list-style: none;
  text-decoration: underline;
  line-height: 2rem;
}

/*Hero Title with FormEmail*/

.BillboardBox h1 {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.BillboardBox p {
  font-size: 24px;
  font-weight: 700;
}
.BillboardBox{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: auto;
  max-width: 60vw;
  margin-top: 90px;
  margin-left: 90px;
  margin-bottom: 90px;
}

/*Form Email*/

.FormEmail{
  max-width: 100vw;
}

.FormEmail h3 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
}

/*Responsive */
